.reveal table {
	margin: auto;
}

.reveal table.hanoi {
	float: center;
	border-collapse: collapse
}

table.hanoi td {
	text-align: center;
	vertical-align: middle;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 3px;
	padding-left: 3px;
}

.reveal h6
{
	font-size: 22px;
}

.reveal h7
{
font-size: 32px;
}